@charset "UTF-8";

@font-face {
  font-family: "karpacz-net";
  src:url("../fonts/karpacz-net.eot");
  src:url("../fonts/karpacz-net.eot?#iefix") format("embedded-opentype"),
    url("../fonts/karpacz-net.woff") format("woff"),
    url("../fonts/karpacz-net.ttf") format("truetype"),
    url("../fonts/karpacz-net.svg#karpacz-net") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*="nf-icon-"] {
  &:before {
      font-family: "karpacz-net" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }

  span {
      padding: 0 0 0 5px;
      vertical-align: middle;
      display: inline-block;
  }

  &.nf-icon-hotel-ring:before {
    content: "\60";
  }
  &.nf-icon-apartament:before {
    content: "\61";
  }
  &.nf-icon-bezplatne-miejsce-parkingowe:before {
    content: "\62";
  }
  &.nf-icon-boisko:before {
    content: "\63";
  }
  &.nf-icon-dom:before {
    content: "\64";
  }
  &.nf-icon-ekspres-przelewowy:before {
    content: "\65";
  }
  &.nf-icon-garaz:before {
    content: "\66";
  }
  &.nf-icon-gaz:before {
    content: "\67";
  }
  &.nf-icon-ilosc-kondygnacji:before {
    content: "\68";
  }
  &.nf-icon-ilosc-osob:before {
    content: "\69";
  }
  &.nf-icon-ilosc-pokoi:before {
    content: "\6a";
  }
  &.nf-icon-ilosc-toalet:before {
    content: "\6b";
  }
  &.nf-icon-iluminacja-swietlna:before {
    content: "\6c";
  }
  &.nf-icon-kamera:before {
    content: "\6d";
  }
  &.nf-icon-kominek:before {
    content: "\6e";
  }
  &.nf-icon-kondygnacja:before {
    content: "\6f";
  }
  &.nf-icon-koza:before {
    content: "\70";
  }
  &.nf-icon-kuchnia:before {
    content: "\71";
  }
  &.nf-icon-lazienka:before {
    content: "\72";
  }
  &.nf-icon-lokalizacja:before {
    content: "\73";
  }
  &.nf-icon-lozko-dwa:before {
    content: "\74";
  }
  &.nf-icon-lozko-jeden:before {
    content: "\75";
  }
  &.nf-icon-media-wodno-kanalizacyjne:before {
    content: "\76";
  }
  &.nf-icon-metraz:before {
    content: "\77";
  }
  &.nf-icon-mieszkanie:before {
    content: "\78";
  }
  &.nf-icon-odl-do-basenu:before {
    content: "\79";
  }
  &.nf-icon-odl-do-deptaka:before {
    content: "\7a";
  }
  &.nf-icon-odl-do-kolejki:before {
    content: "\41";
  }
  &.nf-icon-odl-do-sklepu-spozywczego:before {
    content: "\42";
  }
  &.nf-icon-odl-do-szlakow-turystycznych:before {
    content: "\43";
  }
  &.nf-icon-odl-do-wyciagu-narciarskiego:before {
    content: "\44";
  }
  &.nf-icon-ogrzewanie-elektryczne:before {
    content: "\45";
  }
  &.nf-icon-ogrzewanie-gazowe:before {
    content: "\46";
  }
  &.nf-icon-ogrzewanie-paliwa-stale:before {
    content: "\47";
  }
  &.nf-icon-osiedle-strzezone:before {
    content: "\48";
  }
  &.nf-icon-plac-zabaw:before {
    content: "\49";
  }
  &.nf-icon-plac-zabaw-1:before {
    content: "\4a";
  }
  &.nf-icon-polanka-rekareacyjna:before {
    content: "\4b";
  }
  &.nf-icon-posciel:before {
    content: "\4c";
  }
  &.nf-icon-prysznic:before {
    content: "\4d";
  }
  &.nf-icon-rok-budowy:before {
    content: "\4e";
  }
  &.nf-icon-stan-deweloperski:before {
    content: "\4f";
  }
  &.nf-icon-stan-do-remontu:before {
    content: "\50";
  }
  &.nf-icon-stan-wyposazony:before {
    content: "\51";
  }
  &.nf-icon-telewizja-cyfrowa:before {
    content: "\52";
  }
  &.nf-icon-telewizor:before {
    content: "\53";
  }
  &.nf-icon-zwierzeta-pozwolenia:before {
    content: "\54";
  }
  &.nf-icon-zwierzeta-zakaz:before {
    content: "\55";
  }
  &.nf-icon-zwierzeta-zapytanie:before {
    content: "\56";
  }
  &.nf-icon-akceptacja-kart-platniczych:before {
    content: "\57";
  }
  &.nf-icon-aneks-kuchenny:before {
    content: "\58";
  }
  &.nf-icon-balkon:before {
    content: "\59";
  }
  &.nf-icon-bankomat:before {
    content: "\5a";
  }
  &.nf-icon-basen:before {
    content: "\30";
  }
  &.nf-icon-bilard:before {
    content: "\31";
  }
  &.nf-icon-blokady-drzwi:before {
    content: "\32";
  }
  &.nf-icon-boisko-1:before {
    content: "\33";
  }
  &.nf-icon-boisko-do-koszykowki:before {
    content: "\34";
  }
  &.nf-icon-boisko-do-siatkowki:before {
    content: "\35";
  }
  &.nf-icon-czajnik-elektryczny:before {
    content: "\36";
  }
  &.nf-icon-czesc-pokoi-z-balkonami:before {
    content: "\37";
  }
  &.nf-icon-dla-nie-palacych:before {
    content: "\38";
  }
  &.nf-icon-internet:before {
    content: "\39";
  }
  &.nf-icon-grill:before {
    content: "\21";
  }
  &.nf-icon-gastronomia:before {
    content: "\22";
  }
  &.nf-icon-gabinet-rehabilitacji:before {
    content: "\23";
  }
  &.nf-icon-gabinet-fizjoterapii:before {
    content: "\24";
  }
  &.nf-icon-flipchart:before {
    content: "\25";
  }
  &.nf-icon-elektroniczna-niania:before {
    content: "\26";
  }
  &.nf-icon-ekran:before {
    content: "\27";
  }
  &.nf-icon-dvd:before {
    content: "\28";
  }
  &.nf-icon-drink-bar:before {
    content: "\29";
  }
  &.nf-icon-dostep-do-lazienki:before {
    content: "\2a";
  }
  &.nf-icon-dostep-do-kuchni:before {
    content: "\2b";
  }
  &.nf-icon-dla-palacych:before {
    content: "\2c";
  }
  &.nf-icon-internet-wifi:before {
    content: "\2d";
  }
  &.nf-icon-jaccuzzi:before {
    content: "\2e";
  }
  &.nf-icon-jazda-konna:before {
    content: "\2f";
  }
  &.nf-icon-kacik-zabaw:before {
    content: "\3a";
  }
  &.nf-icon-kacik-zabaw-w-jadalni:before {
    content: "\3b";
  }
  &.nf-icon-klimatyzacja:before {
    content: "\3c";
  }
  &.nf-icon-kregielnia:before {
    content: "\3d";
  }
  &.nf-icon-kominek-1:before {
    content: "\3e";
  }
  &.nf-icon-kort-tenisowy:before {
    content: "\3f";
  }
  &.nf-icon-krzeselko-do-karmienia:before {
    content: "\40";
  }
  &.nf-icon-lazienka-1:before {
    content: "\5b";
  }
  &.nf-icon-lobby-bar:before {
    content: "\5d";
  }
  &.nf-icon-lodowka:before {
    content: "\5e";
  }
  &.nf-icon-opiekunka-animator:before {
    content: "\5f";
  }
  &.nf-icon-ogrod:before {
    content: "\7b";
  }
  &.nf-icon-ognisko:before {
    content: "\7c";
  }
  &.nf-icon-notebook:before {
    content: "\7d";
  }
  &.nf-icon-notebook-1:before {
    content: "\7e";
  }
  &.nf-icon-nocnik:before {
    content: "\5c";
  }
  &.nf-icon-naglosnienie:before {
    content: "\e000";
  }
  &.nf-icon-mini-bar:before {
    content: "\e001";
  }
  &.nf-icon-mikrofala:before {
    content: "\e002";
  }
  &.nf-icon-miejsce-na-wozek:before {
    content: "\e003";
  }
  &.nf-icon-menu-dla-dzieci:before {
    content: "\e004";
  }
  &.nf-icon-masaz:before {
    content: "\e005";
  }
  &.nf-icon-lozeczko-z-posciela:before {
    content: "\e006";
  }
  &.nf-icon-parking:before {
    content: "\e007";
  }
  &.nf-icon-restauracja:before {
    content: "\e008";
  }
  &.nf-icon-telefon:before {
    content: "\e009";
  }
  &.nf-icon-wypozyczalnia-nosidelek:before {
    content: "\e00a";
  }
  &.nf-icon-wypozyczalnia-rowerow:before {
    content: "\e00b";
  }
  &.nf-icon-telewizor-1:before {
    content: "\e00c";
  }
  &.nf-icon-rzutnik-pisma:before {
    content: "\e00d";
  }
  &.nf-icon-parking-dozorowany:before {
    content: "\e00e";
  }
  &.nf-icon-piekarnik:before {
    content: "\e00f";
  }
  &.nf-icon-sala-konferencyjna:before {
    content: "\e010";
  }
  &.nf-icon-tenis-stolowy:before {
    content: "\e011";
  }
  &.nf-icon-wypozyczalnia-sprzetu-narciarskiego:before {
    content: "\e012";
  }
  &.nf-icon-wypozyczalnia-wozkow:before {
    content: "\e013";
  }
  &.nf-icon-toster2:before {
    content: "\e014";
  }
  &.nf-icon-sala-zabaw:before {
    content: "\e015";
  }
  &.nf-icon-plac-zabaw-2:before {
    content: "\e016";
  }
  &.nf-icon-podgrzewacz-butelek:before {
    content: "\e017";
  }
  &.nf-icon-sauna:before {
    content: "\e018";
  }
  &.nf-icon-tv-sat:before {
    content: "\e019";
  }
  &.nf-icon-wyzywienie-na-miejscu:before {
    content: "\e01a";
  }
  &.nf-icon-zabezpieczenie-kontaktow:before {
    content: "\e01b";
  }
  &.nf-icon-udogodnienia-dla-niepelnosprawnych:before {
    content: "\e01c";
  }
  &.nf-icon-sejf:before {
    content: "\e01d";
  }
  &.nf-icon-pralka:before {
    content: "\e01e";
  }
  &.nf-icon-projekcje-bajek:before {
    content: "\e01f";
  }
  &.nf-icon-silownia:before {
    content: "\e020";
  }
  &.nf-icon-uklad-bankiet:before {
    content: "\e021";
  }
  &.nf-icon-zelazko:before {
    content: "\e022";
  }
  &.nf-icon-zmywarka:before {
    content: "\e023";
  }
  &.nf-icon-uklad-kinowy:before {
    content: "\e024";
  }
  &.nf-icon-solarium:before {
    content: "\e025";
  }
  &.nf-icon-projektor:before {
    content: "\e026";
  }
  &.nf-icon-przechowalnia-sprzetu-narciarskiego:before {
    content: "\e027";
  }
  &.nf-icon-przewijak:before {
    content: "\e028";
  }
  &.nf-icon-przyjazny-dzieciom:before {
    content: "\e029";
  }
  &.nf-icon-radio:before {
    content: "\e02a";
  }
  &.nf-icon-reczniki:before {
    content: "\e02b";
  }
  &.nf-icon-taras:before {
    content: "\e02c";
  }
  &.nf-icon-suszarka:before {
    content: "\e02d";
  }
  &.nf-icon-stopien-do-lazienki:before {
    content: "\e02e";
  }
  &.nf-icon-sprzet-plazowy:before {
    content: "\e02f";
  }
  &.nf-icon-spa:before {
    content: "\e030";
  }
  &.nf-icon-uklad-klasowy:before {
    content: "\e031";
  }
  &.nf-icon-uklad-narada:before {
    content: "\e032";
  }
  &.nf-icon-uklad-podkowa:before {
    content: "\e033";
  }
  &.nf-icon-wanienka:before {
    content: "\e034";
  }
  &.nf-icon-winda:before {
    content: "\e035";
  }
  &.nf-icon-present-gift:before {
    content: "\e036";
  }
  &.nf-icon-prize-award:before {
    content: "\e037";
  }
  &.nf-icon-social-xbox:before {
    content: "\e038";
  }
  &.nf-icon-social-myspace:before {
    content: "\e039";
  }
  &.nf-icon-torsos-male-female:before {
    content: "\e03a";
  }
  &.nf-icon-torsos-all:before {
    content: "\e03b";
  }
  &.nf-icon-gamepad:before {
    content: "\e03c";
  }
  &.nf-icon-cup:before {
    content: "\e03d";
  }
}
