@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
//@import '@angular/material/prebuilt-themes/teal-amber.css';

@import '~@angular/material/theming';
@include mat-core();
$nf-app-primary: mat-palette($mat-cyan, 900);
$nf-app-accent:  mat-palette($mat-cyan, A700);
$nf-app-warn:    mat-palette($mat-red);
$nf-app-theme: mat-light-theme($nf-app-primary, $nf-app-accent, $nf-app-warn);
@include angular-material-theme($nf-app-theme);

body {
    margin: 0;
    padding: 0;
}
