<nav-top [hideBottomMenu]="true"></nav-top>
<mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>
<article class="additions">
  <aditions-steps [activeTab]="'addictions'"></aditions-steps>
  
  <!-- mobile -->
  <ng-container *ngIf="innerWidth < 800">
    <section class="summary-box">
      <summary-common [innerWidth]="innerWidth"></summary-common>
    </section>
  </ng-container>

  <section class="additions-box" *ngIf="additions">
    <mat-card>
      <mat-tab-group>
        <mat-tab *ngFor="let category of additions.categories" label="{{category.ac_label}}">
          <ng-container *ngFor="let group of additions.groups">
            <ng-container *ngFor="let addition of additions.additions">
              <ng-container *ngIf="addition.group_id==group.id && category.id==group.category_id">
                <div class="li-addition" [ngClass]="{'active':(selectedAdditions.indexOf(addition.id)!=-1)}">
                  <div class="name">
                    <div class="label">{{addition.a_label}}</div>
                    <div class="price">{{formatPrice(addition.a_price)}} {{currency}}</div>
                  </div>
                  <div class="add">
                    <mat-checkbox #checked
                      [align]="start"
                      [checked]="allAdditions.includes(addition.id)"
                      (change)="addAddition(addition.id,addition.a_price)">
                      <span class="uppercase" *ngIf="!checked.checked" i18n>dodaj</span>
                      <span class="uppercase" *ngIf="checked.checked" i18n>usuń</span>
                    </mat-checkbox>
                  </div>
                  <div class="clear"></div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
      <div class="additions-basket">
        <mat-icon>shopping_cart</mat-icon>
        <span class="label uppercase" i18n>Dodatki razem:</span>
        <span>{{configService.formatPrice(additionBasket | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
      </div>
    </mat-card>
    <div class="buttons">
      <button mat-raised-button class="back uppercase" (click)="goBack()" i18n>Wstecz</button>
      <button mat-raised-button color="primary" class="goahead uppercase" (click)="goConfirmation()" i18n>Dalej</button>
    </div>
  </section>
  <ng-container *ngIf="innerWidth >= 800">
    <section class="summary-box hidden-mobile">
      <summary-common [innerWidth]="innerWidth"></summary-common>
    </section>
  </ng-container>
</article>
