<section class="steps">
  <div class="step">
    <span class="number"><mat-icon>looks_one</mat-icon></span>
    <span class="text uppercase"><ng-container i18n>Terminy</ng-container><br><ng-container i18n>i pokoje</ng-container></span>
  </div>
  <div class="step" [ngClass]="{'active': activeTab=='addictions'}">
    <span class="number"><mat-icon>looks_two</mat-icon></span>
    <span class="text uppercase" i18n>Dodatki</span>
  </div>
  <div class="step" [ngClass]="{'active': activeTab=='confirmation'}">
    <span class="number"><mat-icon>looks_3</mat-icon></span>
    <span class="text uppercase" i18n>Potwierdzenie</span>
  </div>
</section>
