<nav-top [hideBottomMenu]="true"></nav-top>
<mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>
<article class="additions confirmation" *ngIf="pick">
  <aditions-steps [activeTab]="'confirmation'"></aditions-steps>

  <!-- mobile -->
  <ng-container *ngIf="innerWidth < 800">
    <section class="summary-box">
      <summary-common [innerWidth]="innerWidth"></summary-common>
    </section>
  </ng-container>

  <section class="additions-box confirmation-box">
    <mat-card class="card-form">
      <div class="head uppercase"><mat-icon>group</mat-icon><span i18n>Dane rezerwującego</span></div>
      <form [formGroup]="userForm">
        <mat-form-field class="asterix">
          <input matInput placeholder="Imię" formControlName="firstName" i18n-placeholder>
        </mat-form-field>
        <mat-form-field class="asterix">
          <input matInput placeholder="Nazwisko" formControlName="lastName" i18n-placeholder>
        </mat-form-field>
        <mat-form-field class="asterix">
          <input matInput placeholder="E-mail" formControlName="email">
        </mat-form-field>

        <mat-form-field class="phone-country">
          <span class="flag choosen-flag" [style.background-image]="'url('+configService.config.base_url+'assets/img/flags/'+selectedCountry.short+'.svg)'"></span>
          <mat-select formControlName="phoneCountry" (change)="onChangeCountry()">
            <ng-container *ngFor="let codes of phonesService.availablePhones">
              <mat-option [value]="codes">
                <span class="flag flag-{{codes.short}}"
                  [style.background-image]="'url('+configService.config.base_url+'assets/img/flags/'+codes.short+'.svg)'">
                </span>
                <span class="name">{{codes.short | uppercase}} ({{codes.code}})</span>
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="phone">
          <input matInput placeholder="Telefon" formControlName="phone" (ngModelChange)="onChangePhone($event)">
        </mat-form-field>
      </form>
      <mat-accordion class="accordion-form">
        <mat-expansion-panel (opened)="checkbox_panel_1=true" (closed)="panel_1_changed()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-checkbox disabled [(ngModel)]="checkbox_panel_1" i18n>Dane do faktury</mat-checkbox>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Nazwa" [(ngModel)]="invoiceForm['name']" (change)="panel_1_changed()" i18n-placeholder>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Ulica" [(ngModel)]="invoiceForm['street']" (change)="panel_1_changed()" i18n-placeholder>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Kod pocztowy" [(ngModel)]="invoiceForm['post']" (change)="panel_1_changed()" i18n-placeholder>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Miejscowość" [(ngModel)]="invoiceForm['city']" (change)="panel_1_changed()" i18n-placeholder>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="NIP" [(ngModel)]="invoiceForm['nip']" (change)="panel_1_changed()" i18n-placeholder>
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="checkbox_panel_2=true" (closed)="panel_2_changed()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-checkbox disabled disabled [(ngModel)]="checkbox_panel_2" i18n>Dane gościa inne niż osoby rezerwującej</mat-checkbox>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Imię i nazwisko" [(ngModel)]="guestForm['surname']" (change)="panel_2_changed()" i18n-placeholder>
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="checkbox_panel_3=true" (closed)="panel_3_changed()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-checkbox disabled [(ngModel)]="checkbox_panel_3" i18n>Uwagi do rezerwacji</mat-checkbox>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field>
            <textarea matInput placeholder="Np. godzina przyjazdu" [(ngModel)]="notesForm['comment']" (change)="panel_3_changed()" i18n-placeholder></textarea>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-card class="payment_method">
        <div class="head uppercase"><mat-icon>local_atm</mat-icon><span i18n>Wybierz sposób płatności</span></div>
        <mat-radio-group [(ngModel)]="paymentMethod">
          <mat-radio-button value="online">
            <span class="title uppercase" i18n>Płatność On-line Dotpay</span>
            <span class="desc" i18n>Błyskawiczny przelew elektroniczny</span>
          </mat-radio-button>
          <mat-radio-button value="transfer">
            <span class="title uppercase" i18n>Tradycyjny przelew</span>
            <span class="desc" i18n>Dane do wpłaty zostaną przekazana na konto</span>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </mat-card>
    <div class="regulation-accept">
      <mat-checkbox [(ngModel)]="termsagree"><ng-container i18n>Akceptuj</ng-container> <span (click)="openRegulations()" i18n>regulamin rezerwacji</span><span class="asterix">*</span></mat-checkbox>
    </div>
    <div class="buttons">
      <button mat-raised-button class="back uppercase" (click)="goBack()" i18n>Wstecz</button>
      <button mat-raised-button color="primary" class="goahead uppercase" (click)="goPaymant()" [disabled]="disableBtn" i18n>Rezerwuj</button>
    </div>
  </section>

  <ng-container *ngIf="innerWidth >= 800">
    <section class="summary-box">
      <article class="summary">
        <mat-card>
          <div class="head uppercase"><mat-icon>shopping_cart</mat-icon><span i18n>Podsumowanie rezerwacji</span></div>
          <summary
            (allPrices)="onAllPrices($event)"
            (showProgress)="onShowProgress($event)">
          </summary>
        </mat-card>
      </article>
      <mat-progress-bar *ngIf="showProgressSummary" mode="indeterminate"></mat-progress-bar>
    </section>
  </ng-container>

</article>
