<article class="dialog-room-detail">
  <section class="head">
    <div class="title">{{data.package.title}}</div>
    <mat-icon (click)="close()">clear</mat-icon>
  </section>
  <figure [style.background-image]="galleryPhoto" (click)="fullSizeImage()">
    <nav>
      <span class="gallery uppercase" i18n>Galeria</span>
      <ng-container *ngIf="data.package['photos'].length>1">
        <span class="prev" (click)="slidePhoto(-1);$event.stopPropagation()"><mat-icon>keyboard_arrow_left</mat-icon></span>
        <span class="next" (click)="slidePhoto(1);$event.stopPropagation()"><mat-icon>keyboard_arrow_right</mat-icon></span>
      </ng-container>
    </nav>
  </figure>
  <section class="amenities">
    <div class="facility" *ngFor="let meal of data.package.meals">
      <mat-icon>restaurant</mat-icon><span>{{data.meals[meal].name}} <ng-container *ngIf="data.meals[meal].inprice==true" i18n>w cenie</ng-container></span>
    </div>
    <div class="facility">
      <mat-icon>local_hotel</mat-icon><span i18n>Pobyt {{data.package.days}} {data.package.days, plural, =1 {noc} =2 {noce} =3 {noce} =4 {noce} other {nocy}}</span>
    </div>
  </section>
  <section class="description" [innerHtml]="data.package.description">
  </section>
  <section class="footer">
    <div class="footer-wrapper">
      <div class="price">
        <ng-container *ngFor="let lower of data.lowerPrice">
          <ng-container *ngIf="lower.id==data.package.id && lower.price">
            <span class="prefix" i18n>cena od:</span>
            <span class="value">{{formatPrice(lower.price | currency:'ABC':'code':'1.0-2')}}</span>
            <span class="currency uppercase">{{data.currency}}</span>
          </ng-container>
        </ng-container>
      </div>
      <button mat-button class="basket uppercase" (click)="showRooms()" *ngIf="data.checkedPrices.indexOf(data.package.id)!=-1">
        Pokoje
      </button>
      <ng-container *ngIf="data.errorPrices.indexOf(data.package.id)!=-1">
        <ng-container *ngFor="let lower of data.lowerPrice">
          <ng-container *ngIf="lower.id==data.package.id && !lower.price">
            <div class="error-message">
              <mat-icon>report_problem</mat-icon><span>{{lower.error}}</span>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
      <div class="clear"></div>
    </div>
  </section>
</article>
