<article class="dialog-room-detail">
  <section class="head">
    <div class="title">{{data.roomDesc.rsl_name}}</div>
    <mat-icon (click)="close()">clear</mat-icon>
  </section>
  <figure [ngClass]="{'opened':openDesc}" [style.background-image]="galleryPhoto" (click)="fullSizeImage()">
    <nav>
      <span class="gallery uppercase hidden-mobile" i18n>Galeria</span>
      <ng-container *ngIf="data.roomDesc['photos'].length>1">
        <span class="prev" (click)="slidePhoto(-1);$event.stopPropagation()"><mat-icon>keyboard_arrow_left</mat-icon></span>
        <span class="next" (click)="slidePhoto(1);$event.stopPropagation()"><mat-icon>keyboard_arrow_right</mat-icon></span>
      </ng-container>
    </nav>
  </figure>
  <section class="amenities">
    <ng-container *ngFor="let e of data.roomDesc.equipment">
      <div *ngIf="data.equipments[e.id]" class="{{data.equipments[e.id]?.eq_icon}}"><span>{{data.equipments[e.id]?.eq_label}}</span></div>
    </ng-container>
  </section>
  <section class="description" [ngClass]="{'opened':openDesc}" [innerHtml]="data.roomDesc.rsl_description">
  </section>
  <section class="read-more">
    <div (click)="openDesc=!openDesc">
      <span *ngIf="!openDesc"><span i18n>czytaj więcej</span> <mat-icon>keyboard_arrow_down</mat-icon></span>
      <span *ngIf="openDesc"><span i18n>zwiń</span> <mat-icon>keyboard_arrow_up</mat-icon></span>
    </div>
  </section>
  <section class="footer">
    <div class="footer-wrapper">
      <div class="price">
        <span class="prefix" i18n>cena za pokój:</span>
        <span class="value">{{formatPrice((data.roomDetail.price[(data.roomDetail.price|keys)[0]].price) | currency:'ABC':'code':'1.0-2')}}</span>
        <span class="currency uppercase">{{data.currency}}</span>
        <span class="rabat uppercase" *ngIf="data.roomDetail.price[(data.roomDetail.price|keys)[0]].price_before">
          {{formatPrice(data.roomDetail.price[(data.roomDetail.price|keys)[0]].price_before | currency:'ABC':'code':'1.0-2')}} {{data.currency}}
        </span>
      </div>
      <button mat-button class="basket uppercase" (click)="addRoom()"><mat-icon>shopping_cart</mat-icon><ng-container i18n>Wybierz</ng-container></button>
      <div class="clear"></div>
    </div>
  </section>
</article>
