<mat-progress-bar *ngIf="!calculation" mode="indeterminate"></mat-progress-bar>
<article class="calculations" *ngIf="pick && calculation">
  <section class="head uppercase">
    <mat-icon class="basket">shopping_cart</mat-icon><span i18n>Szczegółowa kalkulacja</span>
    <mat-icon class="close" (click)="close()">clear</mat-icon>
  </section>
  <section class="room" *ngFor="let r of pick.rooms; let order=index">
    <div class="header">
      <div class="name"><ng-container i18n>Pokój</ng-container> {{order+1}}</div>
      <div class="kind">
        <div class="type">{{r.desc.rsl_name}}</div>
        <div class="persons">
          <ng-container i18n>{{pick.search.people[order].adults}} {pick.search.people[order].adults, plural, =1 {dorosły} other {dorosłych}}</ng-container><ng-container *ngIf="pick.search.people[order].kids" i18n>,
            {{pick.search.people[order].kids}} {pick.search.people[order].kids, plural, =0 {dzieci} =1 {dziecko} other {dzieci}}({{pick.search.people[order].age.join(', ')}} lat)
          </ng-container>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <ul>
      <ng-container *ngIf="data.type=='one'">
        <ng-container *ngFor="let c of calculation.prices | keys">
          <li>
            <span class="date">{{c | date:'EEEE, dd MMM yyyy'}}</span>
            <span class="price">{{configService.formatPrice(calculateDayPrice(calculation.prices[c]) | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
          </li>
          <ng-container *ngIf="calculation.prices[c].additions">
            <div class="additions">
              <span class="title" i18>Pobyt</span>
              <span class="a_price">{{configService.formatPrice(calculation.prices[c].stay_price | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
              <div class="clear"></div>
            </div>
            <div class="additions" *ngFor="let addition of calculation.prices[c].additions">
              <span class="title">{{addition.a_label}}</span>
              <span class="a_price">{{configService.formatPrice(addition.a_price | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
              <div class="clear"></div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="data.type=='many'">
        <ng-container *ngFor="let c of calculation[order].prices | keys">
          <li>
            <span class="date">{{c | date:'EEEE, dd MMM yyyy'}}</span>
            <span class="price">{{configService.formatPrice(calculateDayPrice(calculation[order].prices[c]) | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
          </li>
          <ng-container *ngIf="calculation[order].prices[c].additions">
            <div class="additions">
              <span class="title" i18>Pobyt</span>
              <span class="a_price">{{configService.formatPrice(calculation[order].prices[c].stay_price | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
              <div class="clear"></div>
            </div>
            <div class="additions" *ngFor="let addition of calculation[order].prices[c].additions">
              <span class="title">{{addition.a_label}}</span>
              <span class="a_price">{{configService.formatPrice(addition.a_price | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
              <div class="clear"></div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ul>
    <div class="summary">
      <span class="title" i18n>Suma do zapłaty</span>
      <span class="price">{{configService.formatPrice(sumRoom[order] | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
    </div>
  </section>
  <section class="rabat" *ngIf="configService.config.promotions_enabled">
    <a class="uppercase" [matMenuTriggerFor]="sum_rabatMenu">+ <ng-container i18n>Kupon rabatowy</ng-container></a>
  </section>
  <section class="overall">
    <div class="part advance">
      <span class="label" i18n>Zadatek</span>
      <span class="price">{{configService.formatPrice(summaryPrices.installment | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
    </div>
    <div class="part atplace">
      <span class="label" i18n>Do zapłaty na miejscu</span>
      <span class="price">{{configService.formatPrice((summaryPrices.r_grand_total - summaryPrices.installment) | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
    </div>
    <div class="sum uppercase">
      <span class="label" i18n>Suma do zapłaty</span>
      <span class="price">{{configService.formatPrice(summaryPrices.r_grand_total | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
    </div>
  </section>
  <mat-menu class="popup-menu-people popup-menu-rabat" #sum_rabatMenu="matMenu">
    <menu-rabat></menu-rabat>
  </mat-menu>
</article>
