<article class="dialog-room-detail dialog-regulations">
  <section class="head">
    <div class="title" i18n>Regulamin rezerwacji</div>
    <mat-icon (click)="close()">clear</mat-icon>
  </section>
  <section class="content" *ngIf="content" [innerHtml]="content"></section>
</article>
