<article class="error">
  <section class="no-rooms" *ngIf="errorMessage=='No free rooms'; else standardError">
    <div class="message uppercase" i18n>Rezerwacja on-line niemożliwa</div>
    <div class="info" i18n>Brak wolnych miejsc w wybranym terminie.</div>
    <div class="info-bottom" i18n *ngIf="configService.hotel_phone">Zadzwoń, aby dowiedzieć się o dostępności w podobnym okresie. Tel. {{configService.hotel_phone}}</div>
  </section>
  <ng-template #standardError>
    <section class="standard">
      <div class="message">
        {{errorMessage}}
      </div>
    </section>
  </ng-template>
</article>
