<article class="group-rooms" *ngIf="people && people.length>1">
  <div class="head uppercase"><mat-icon>add_to_photos</mat-icon><span i18n>Rezerwacja kilku pokoi</span></div>
  <div class="sub-title" i18n>Kliknij w poniższą konfigurację aby wybrać dla niej pokój</div>
  <mat-card class="next uppercase" *ngIf="showWarning"><ng-container i18n>Wybierz kolejny pokój</ng-container><mat-icon (click)="closeWarning()">clear</mat-icon></mat-card>
  <mat-card class="room" [ngClass]="{'active': activeGroup==order}" *ngFor="let g of people; let order=index" (click)="setActiveGroup(order)">
    <ng-container >
      <figure *ngIf="content[order]" [style.background-image]="getPhoto(content[order].desc.photos[0])">
        <div class="price">
          <span class="value">{{formatPrice((content[order].room.price[(content[order].room.price|keys)[0]].price) | currency:'ABC':'code':'1.0-2')}}</span>
          <span class="currency uppercase">{{currency}}</span>
        </div>
      </figure>
      <div *ngIf="!content[order]" class="choose uppercase"><ng-container i18n>Wybierz pokój</ng-container> {{order+1}}</div>
      <section class="description">
        <div class="title" *ngIf="content[order]">{{content[order].desc.rsl_name}}</div>
        <div class="type">
          <ng-container>
            <ng-container i18n>{{g.adults}} {g.adults, plural, =1 {dorosły} other {dorosłych}}</ng-container><ng-container *ngIf="g.kids>0">, {{g.kids}} {g.kids, plural, =0 {dzieci} =1 {dziecko} other {dzieci}}</ng-container>
            <ng-container *ngIf="g.age.length>0">
            (<ng-container *ngFor="let a of g.age; let indexage=index"><ng-container *ngIf="indexage>0">, </ng-container>{{a}}</ng-container> <ng-container i18n>lat</ng-container>)
            </ng-container>
          </ng-container>
        </div>
      </section>
    </ng-container>
  </mat-card>
  <section class="compleated" *ngIf="compleated">
    <div class="message" i18n>Wybrałeś wszystkie pokoje, możesz coś zmienić lub przejść do kolejnego kroku.</div>
    <div class="button">
      <button mat-raised-button color="primary" class="uppercase" (click)="buyGroup()" i18n>Dalej</button>
    </div>
  </section>
</article>
