<nav-top></nav-top>
<div class="menu-line"></div>
<article class="home">
  <ng-container *ngIf="preferences">
    <div class="slogan" *ngFor="let icon of preferences.welcome_icons">
      <mat-icon>{{icon.ligature}}</mat-icon>
      <span>{{icon.text}}</span>
    </div>
  </ng-container>
</article>
