<nav class="main-nav">
  <div class="top">
    <div class="left" *ngIf="preferences" routerLink="/">
      <div class="object-name">{{preferences.hotel_name}}</div>
      <div class="on-line">{{preferences.header_text}}</div>
    </div>
    <div class="right hidden-mobile">
      <ng-container *ngIf="configService.config.promotions_enabled">
        <div class="rabat uppercase" [matMenuTriggerFor]="rabatMenu">+ <ng-container i18n>Kod rabatowy</ng-container></div>
      </ng-container>
      <div class="language" [matMenuTriggerFor]="languageMenu">
        <div class="flag {{lang}}"><span><mat-icon>expand_more</mat-icon></span></div>
      </div>
      <mat-menu class="popup-menu-people popup-menu-rabat" #rabatMenu="matMenu">
        <menu-rabat></menu-rabat>
      </mat-menu>
      <mat-menu class="popup-menu-people popup-menu-language" #languageMenu="matMenu">
        <menu-language
          (pickLanguage)="onLanguageChange($event)">
        </menu-language>
      </mat-menu>
    </div>
    <div class="right-menu-mobile show-mobile">
      <button mat-button (click)="showMobileMenu=!showMobileMenu;showMobileLngMenu=false">
        <mat-icon>dehaze</mat-icon> <ng-container i18n>MENU</ng-container>
      </button>
    </div>
  </div>
  <div class="bottom" *ngIf="!hideBottomMenu">
    <div class="left">
      <div class="arrive">
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="pickera" [min]="minDateFrom" [max]="maxDateFrom" [formControl]="date"
            readonly
            (click)="pickera.open()"
            (dateChange)="changeDateFrom($event)"
            [(ngModel)]="dateFrom"
            placeholder="przyjazd &or;" i18n-placeholder>
          <mat-datepicker #pickera></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="leave">
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="pickerb" [min]="minDateTo" [max]="maxDateTo"
            readonly
            (click)="pickerb.open()"
            (dateChange)="changeDateTo($event)"
            [(ngModel)]="dateTo"
            placeholder="wyjazd &or;" i18n-placeholder>
          <mat-datepicker #pickerb></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="show-mobile break-line-mobile"></div>
      <div class="period">
        <div class="nights">
          <mat-icon>timelapse</mat-icon>
          <ng-container i18n>{{daysStay}} {daysStay, plural, =1 {noc} =2 {noce} =3 {noce} =4 {noce} other {nocy}}</ng-container>
        </div>
      </div>
      <div class="people">
        <mat-menu class="popup-menu-people" #peopleMenu="matMenu">
          <menu-people
            (noAdultsKids)="onPeopleChange($event)">
          </menu-people>
        </mat-menu>
        <div class="adults" [matMenuTriggerFor]="peopleMenu">
          <mat-icon>group</mat-icon>
          <span class="rooms hidden-mobile" *ngIf="rooms>1" i18n>{{rooms}} {rooms, plural, =2 {pokoje} =3 {pokoje} =4 {pokoje} other {pokoi}},</span>
          <span class="adults" i18n>{{adults}} {adults, plural, =1 {dorosły} other {dorosłych}},</span>
          <span class="kids" i18n>{{kids}} {kids, plural, =0 {dzieci} =1 {dziecko} other {dzieci}}</span>
        </div>
      </div>
      <div class="show-mobile break-line-mobile bottom-line"></div>
    </div>
    <div class="right">
      <div class="check">
        <button mat-button (click)="search()" i18n>SPRAWDŹ DOSTĘPNOŚĆ</button>
      </div>
    </div>
  </div>
</nav>

<ng-container *ngIf="showMobileMenu">
  <section id="overlay-mobile"></section>
  <section id="side-mobile" class="side-mobile" [ngClass]="{'show-mobile':showMobileMenu, 'show-mobile-lang':showMobileLngMenu}">
    <ng-container *ngIf="configService.config.promotions_enabled">
      <div class="tab uppercase" [matMenuTriggerFor]="rabatMenu">+ <ng-container i18n>Kod rabatowy</ng-container></div>
    </ng-container>
    <div class="tab uppercase" (click)="showMobileLngMenu=!showMobileLngMenu">
      <ng-container i18n>JĘZYK:</ng-container>
      <ng-container *ngFor="let l of configService.config.languages">
        <span *ngIf="l.id==configService.language.id">{{l.lg_label}}</span>
      </ng-container>
    </div>
    <mat-icon class="close" (click)="showMobileMenu=false">arrow_back_ios</mat-icon>
  </section>
  <section id="side-mobile-lang" class="side-mobile side-mobile-lang" *ngIf="showMobileLngMenu">
    <ng-container *ngFor="let l of configService.config.languages">
      <ng-container *ngIf="l.id!=configService.language.id">
        <div class="lng-row" (click)="onLanguageChange({lng:l.lg_code, id:l.id})">
          <div class="flag {{l.lg_code}}"></div>
          <div class="lang-name">{{l.lg_label}}</div>
        </div>
      </ng-container>
    </ng-container>
    <mat-icon class="close" (click)="showMobileLngMenu=false">arrow_back_ios</mat-icon>
  </section>
</ng-container>
