<label class="people-title" i18n>Wybierz ilość dorosłych oraz wiek dzieci.</label>
<form class="form-popup" [formGroup]="peopleForm" novalidate>
  <!--people row-->
  <div formArrayName="peopleRow" class="people-row-wrapper">
    <div class="people-row" *ngFor="let row of peopleForm.controls.peopleRow['controls']; let i=index">
      <div class="heading">
        <span class="room-title"><ng-container i18n>Pokój</ng-container> {{i+1}}</span>
        <span class="remove-icon" *ngIf="peopleForm.controls.peopleRow.controls.length>1">
          <mat-icon (click)="removePeople(i);$event.stopPropagation()">highlight_off</mat-icon>
        </span>
      </div>
      <div class="body" [formGroupName]="i">
        <people-row
          [group]="peopleForm.controls.peopleRow.controls[i]"
          (changedPeople)=onChangedPeople()>
        </people-row>
      </div>
    </div>
  </div>
  <div class="add-next" *ngIf="showNextRoom">
    <span (click)="addPeople();$event.stopPropagation()">+ <ng-container i18n>dodaj kolejny pokój</ng-container></span>
  </div>
  <div class="save">
    <!-- <button class="cancel" mat-button type="button" i18n>ANULUJ</button> -->
    <button class="ok" mat-button type="button" (click)="calculatePeople()" i18n>OK</button>
  </div>
</form>
