<div class="rabat-wrapper">
  <label class="people-title" *ngIf="preferences">{{preferences.promo_additional_info}}</label>
  <div class="rabat-input">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Kod rabatowy" value="" [(ngModel)]="code" (click)="$event.stopPropagation()" i18n-placeholder>
    </mat-form-field>
  </div>
  <div class="save">
    <button class="ok" mat-button type="button" (click)="addCode()" i18n>+ DODAJ KOD</button>
  </div>
</div>
