<div class="row-adults-kids" [formGroup]="rowForm">
  <div class="adults-wrapper" (click)="$event.stopPropagation()">
    <span class="field-name" (click)="$event.stopPropagation()" i18n>Dorośli:</span>
    <mat-form-field class="adults">
      <mat-select placeholder="" formControlName="adults"
        (change)="onChangePeople()"
        (click)="$event.stopPropagation()">
        <mat-option *ngFor="let adult of adults" [value]="adult">
          {{ adult }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="kids-wrapper" (click)="$event.stopPropagation()">
    <span class="field-name" (click)="$event.stopPropagation()" i18n>Dzieci:</span>
    <mat-form-field class="kids">
      <mat-select placeholder="" formControlName="kids"
        (change)="setKidsNumber($event);onChangePeople()">
        <mat-option *ngFor="let kid of children" [value]="kid">
          {{ kid }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="kids-amount-wrapper" *ngIf="amountKids.length>0" (click)="$event.stopPropagation()">
    <span class="field-name" (click)="$event.stopPropagation()" i18n>Wiek dzieci:</span>
    <mat-form-field class="kids age" *ngFor="let nk of amountKids">
      <mat-select placeholder="" formControlName="age_{{nk}}" (click)="$event.stopPropagation();">
        <mat-option *ngFor="let age of kidsAge" [value]="age">
          {{ age }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
