<div class="language-wrapper">
  <ng-container *ngFor="let l of configService.config.languages">
    <ng-container *ngIf="l.id!=configService.language.id">
      <div class="lng-row" (click)="setLanguage(l.lg_code, l.id)">
        <div class="flag {{l.lg_code}}"></div>
        <div class="lang-name">{{l.lg_label}}</div>
      </div>
    </ng-container>
  </ng-container>
</div>
