<ng-container *ngFor="let package of packages">
  <mat-card id="package-{{package.id}}" class="package" *ngIf="package && useMealFilter(package.meals)">
    <figure [style.background-image]="getPhoto(package.cover)" (click)="openPackageDialog(package)"></figure>
    <div class="description">
      <mat-card-title>{{package.title}}</mat-card-title>
      <mat-card-content>
        <ng-container *ngFor="let meal of package.meals">
          <div class="facility" *ngIf="meals[meal]">
            <mat-icon>restaurant</mat-icon><span>{{meals[meal].name}} <ng-container *ngIf="meals[meal].inprice==true" i18n>w cenie</ng-container></span>
          </div>
        </ng-container>
        <div class="facility">
          <mat-icon>local_hotel</mat-icon><span i18n>Pobyt {{package.days}} {package.days, plural, =1 {noc} =2 {noce} =3 {noce} =4 {noce} other {nocy}}</span>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div class="line">
          <div mat-button class="see-more uppercase hidden-mobile" (click)="openPackageDialog(package)" i18n>
            Zobacz opis
          </div>
        </div>
        <div class="price">
          <ng-container *ngIf="errorPricesArray.indexOf(package.id)==-1 && checkedPrices.indexOf(package.id)==-1">
            <mat-spinner [color]="primary" [diameter]="20"></mat-spinner>
          </ng-container>
          <ng-container *ngFor="let lower of lowerPrice">
            <ng-container *ngIf="lower.id==package.id && lower.price">
              <span class="prefix" i18n>cena od:</span>
              <span class="value">{{formatPrice(lower.price | currency:'ABC':'code':'1.0-2')}}</span>
              <span class="currency uppercase">{{currency}}</span>
            </ng-container>
          </ng-container>
        </div>
        <button mat-button class="basket uppercase"
          (click)="showRooms(package.id)"
          *ngIf="checkedPrices.indexOf(package.id)!=-1" i18n>
          Pokoje
        </button>
        <ng-container *ngFor="let error of errorPrices">
          <ng-container *ngIf="error.id==package.id">
            <div class="error-message">
              <mat-icon>report_problem</mat-icon>
              <span *ngIf="error.type=='equal'" i18n>Pobyt powinien wynosić dokładnie {{package.days}} dni.</span>
              <span *ngIf="error.type=='min'" i18n>Pobyt powinien wynosić minimum {{package.days}} dni.</span>
              <span *ngIf="error.type=='arrival'">
                <ng-container i18n>Rezerwacja powinna zaczynać się w: </ng-container>
                <ng-container *ngFor="let a of package.allowed_arrival_week_days">
                  <ng-container *ngIf="a==0" i18n>Niedzielę</ng-container>
                  <ng-container *ngIf="a==1" i18n>Poniedziałek</ng-container>
                  <ng-container *ngIf="a==2" i18n>Wtorek</ng-container>
                  <ng-container *ngIf="a==3" i18n>Środę</ng-container>
                  <ng-container *ngIf="a==4" i18n>Czwartek</ng-container>
                  <ng-container *ngIf="a==5" i18n>Piątek</ng-container>
                  <ng-container *ngIf="a==6" i18n>Sobotę</ng-container>
                </ng-container>
              </span>
              <span *ngIf="error.type=='server'">Server error</span>
            </div>
          </ng-container>
        </ng-container>
      </mat-card-footer>
    </div>
  </mat-card>
</ng-container>
