<nav-top [hideBottomMenu]="true"></nav-top>
<article class="payments">
  <div class="thanks" i18n>Dziękujemy za dokonanie rezerwacji!</div>
  <div class="inadvance">
    <ng-container i18n>W celu potwierdzenia rezerwacji należy wpłacić zadatek w kwocie</ng-container> {{prices.installment}} {{currency}}.<br>
    <ng-container i18n>O ile nie ustalono inaczej, wpłaty należy dokonać w ciągu 7 dni.</ng-container>
  </div>
  <div class="choose-bank uppercase"><mat-icon>account_balance</mat-icon><span i18n>Wybierz swój bank</span></div>
  <section class="banks">
    <ng-container *ngFor="let pay of response.payment_methods">
      <div [style.background-image]="getIcon(pay.icon)" [ngClass]="{'active': activeBank==pay.id}" (click)="pickBank(pay.id)"></div>
    </ng-container>
  </section>
  <section class="button" *ngIf="activeBank">
    <button mat-raised-button color="primary" class="uppercase" (click)="goBank()" i18n>Dalej</button>
  </section>
  <div class="security">
    <div class="title uppercase" i18n>Bezpieczeństwo transakcji</div>
    <div class="logos">
      <a class="dotpay" href="http://dotpay.com"></a>
      <a class="ssl"></a>
    </div>
  </div>
</article>
