<nav-top [hideBottomMenu]="true"></nav-top>
<article class="payments">
  <div class="thanks" i18n>Dziękujemy za dokonanie rezerwacji!</div>
  <div class="inadvance" *ngIf="allowedPayment==1 || allowedPayment==2">
    <ng-container i18n>W celu potwierdzenia rezerwacji należy wpłacić zadatek w kwocie</ng-container>
    {{configService.formatPrice(prices.installment | currency:'ABC':'code':'1.0-2')}} {{currency}}.<br>
    <ng-container i18n>O ile nie ustalono inaczej, wpłaty należy dokonać w ciągu 7 dni.</ng-container>
  </div>
  <div class="choose-bank uppercase"><mat-icon>account_balance</mat-icon><span i18n>Dane do przelewu</span></div>
  <section class="transfer-data">
    <div class="hotel-subject" [innerHTML]="response.payment_data"></div>
    <div class="pay-now uppercase"><ng-container i18n>Do zapłaty teraz</ng-container>:
      <ng-container *ngIf="allowedPayment==1 || allowedPayment==2">
        {{configService.formatPrice(prices.installment | currency:'ABC':'code':'1.0-2')}} {{currency}}
      </ng-container>
      <ng-container *ngIf="allowedPayment==1 || allowedPayment==3">
        {{configService.formatPrice(prices.r_grand_total | currency:'ABC':'code':'1.0-2')}} {{currency}}
      </ng-container>
    </div>
  </section>
</article>
