<nav-top [hideBottomMenu]="true"></nav-top>
<article class="payments payments-bank" *ngIf="prices">
  <div class="choose-bank uppercase"><mat-icon>account_balance</mat-icon><span i18n>Przejdź do płatności</span></div>
  <div class="left-side">
    <div class="bank">
      <div class="bank-logo" [style.background-image]="bankIcon">
        <span class="uppercase" (click)="goBack()" i18n>Wybierz inny bank</span>
      </div>
    </div>
    <mat-radio-group [(ngModel)]="paymentKind">
      <mat-radio-button value="2" *ngIf="allowedPayment==1 || allowedPayment==2">
        <span>
          <ng-container i18n>Zadatek</ng-container>: {{configService.formatPrice(prices.installment | currency:'ABC':'code':'1.0-2')}} {{currency}}
        </span>
      </mat-radio-button>
      <mat-radio-button value="3" *ngIf="allowedPayment==1 || allowedPayment==3">
        <span>
          <ng-container i18n>Całość</ng-container>: {{configService.formatPrice(prices.r_grand_total | currency:'ABC':'code':'1.0-2')}} {{currency}}
        </span>
      </mat-radio-button>
    </mat-radio-group>
    <section class="button-pay">
      <button mat-raised-button color="primary" class="uppercase" (click)="pay()" i18n>Płacę</button>
    </section>
  </div>
  <div class="security">
    <div class="title uppercase" i18n>Bezpieczeństwo transakcji</div>
    <div class="logos">
      <a class="dotpay" href="http://dotpay.pl"></a>
      <a class="ssl"></a>
    </div>
  </div>
</article>
