<mat-card class="room" *ngIf="roomDesc && useEquipmentFilter()">
  <figure [style.background-image]="getPhoto(roomDesc.photos[0])" (click)="openDetailDialog()"></figure>
  <div class="description">
    <mat-card-title>{{roomDesc.rsl_name}}</mat-card-title>
    <mat-card-content>
      <ng-container *ngFor="let e of roomDesc.equipment">
        <div *ngIf="equipments[e.id]" class="{{equipments[e.id]?.eq_icon}}">
          <span *ngIf="e.type=='checkbox'">{{equipments[e.id]?.eq_label}}</span>
          <span *ngIf="e.type=='liczbowe'">{{e.value}}
            <ng-container *ngIf="e.id==23">m<sup>2</sup></ng-container>
          </span>
        </div>
      </ng-container>
    </mat-card-content>
    <mat-card-footer>
      <div class="line">
        <div mat-button class="see-more uppercase" (click)="openDetailDialog()" i18n>
          Zobacz opis
        </div>
      </div>
      <div class="price">
        <span class="prefix" i18n>cena za pokój:</span>
        <span class="value">{{formatPrice((roomDetail.price[(roomDetail.price|keys)[0]].price) | currency:'ABC':'code':'1.0-2')}}</span>
        <span class="currency uppercase">{{currency}}</span>
        <span class="rabat uppercase" *ngIf="roomDetail.price[(roomDetail.price|keys)[0]].price_before">
          {{formatPrice(roomDetail.price[(roomDetail.price|keys)[0]].price_before | currency:'ABC':'code':'1.0-2')}} {{currency}}
        </span>
      </div>
      <button mat-button class="basket uppercase" (click)="addRoom()"><mat-icon>shopping_cart</mat-icon><ng-container i18n>Wybierz</ng-container></button>
    </mat-card-footer>
    <div class="last-room" *ngIf="roomDetail.available==1" i18n>Został ostatni pokój</div>
  </div>
</mat-card>
