<nav-top></nav-top>
<mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>
<group [hidden]="showProgress" [isPackage]="isPackage" (selectedGroup)="onSelectedGroup($event)"></group>
<article class="search-rooms" *ngIf="rooms && !showProgress">
  <mat-tab-group class="rooms-tab-group" (selectedTabChange)="onTabChange($event)" [selectedIndex]="activeTab">
    <mat-tab class="uppercase" label="Dostępne pokoje" i18n-label>
      <div class="tab-content-1">
        <div class="menu-bottom-line"></div>
        <!-- choosen package -->
        <section class="choosen-package" *ngIf="currentPackage">
          <figure [style.background-image]="getPhoto(currentPackage.cover)"></figure>
          <div class="c-pacage-desc">
            <div class="c-pacage-name">{{currentPackage.p_label}}</div>
            <div class="c-pacage-facilities">
              <div class="facility" *ngFor="let meal of currentPackage.meals">
                <mat-icon>restaurant</mat-icon><span>{{mealsTr[meal].name}}<ng-container *ngIf="mealsTr[meal].inprice==true"> w cenie</ng-container></span>
              </div>
              <div class="facility">
                <mat-icon>local_hotel</mat-icon><span i18n>Pobyt {{currentPackage.days}} {currentPackage.days, plural, =1 {noc} =2 {noce} =3 {noce} =4 {noce} other {nocy}}</span>
              </div>
            </div>
            <div class="c-pacage-see uppercase" (click)="openPackageDialog(currentPackage)" i18n>ZOBACZ OPIS</div>
          </div>
          <mat-icon (click)="removePackage()" class="close-package">highlight_off</mat-icon>
        </section>
        <section class="filters maintenance" *ngIf="meals">
          <div class="title uppercase"><mat-icon>restaurant_menu</mat-icon><ng-container i18n>Wybierz wyżywienie</ng-container></div>
          <div class="kinds">
            <mat-checkbox class="example-margin"
              *ngFor="let meal of meals"
              [checked]="mealFilter.includes(meal.id)"
              (change)="changeMealFilter(meal.id)">
                {{meal.name}}
            </mat-checkbox>
          </div>
        </section>
        <section class="filters" *ngIf="equipment">
          <div class="title uppercase"><mat-icon>graphic_eq</mat-icon><ng-container i18n>Filtry</ng-container></div>
          <div class="kinds">
            <ng-container *ngFor="let eq of equipment">
              <mat-checkbox class="example-margin"
                *ngIf="eq.eq_type=='checkbox' && eq.eq_label!=''"
                [checked]="eqFilter.includes(eq.id)"
                (change)="changeEquipmentFilter(eq.id)">
                  {{eq.eq_label}}
              </mat-checkbox>
            </ng-container>
          </div>
        </section>
      </div>
      <div class="content">
        <ng-container *ngFor="let room of rooms">
          <room
            [roomDetail]="room" [roomDesc]="roomDescTr[room.id]" [equipments]="equipmentTr"
            [eqFilter]="eqFilter"
            (selectedRoom)="onSelectedRoom($event)">
          </room>
        </ng-container>
      </div>
        <mat-card class="last-reservation" *ngIf="lastBooking" [style.top.px]="currentPackage ? 115 : 20" i18n>
          Ostatnia rezerwacja {{lastBooking}} h temu
        </mat-card>
    </mat-tab>
    <mat-tab class="uppercase" label="Pakiety" i18n-label>
      <div class="tab-content-2">
        <div class="content">
          <packages
            [meals]="mealsTr"
            [mealFilter]="mealFilter"
            [packageParams]="packageParams"
            [activeTab]="activeTab"
            [paramsUrl]="paramsUrl"
            (selectedPackage)="onSelectedPackage($event)">
          </packages>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</article>
<error *ngIf="error" [errorMessage]="error"></error>
