<article class="summary">
  <ul>
    <li>
      <div class="noline">
        <span class="name" i18n>Przyjazd</span>
        <span class="value">{{pick.search.from | date:'EEEE, dd MMM yyyy'}} <span>(<ng-container i18n>od</ng-container> {{config.arrival_time}})</span></span>
        <span class="clear"></span>
      </div>
    </li>
    <li>
      <div>
        <span class="name" i18n>Wyjazd</span>
        <span class="value">{{pick.search.to | date:'EEEE, dd MMM yyyy'}} <span>(<ng-container i18n>do</ng-container> {{config.departure_time}})</span></span>
        <span class="clear"></span>
      </div>
    </li>
    <li *ngFor="let r of pick.rooms; let order=index">
      <div>
        <span class="name"><ng-container i18n>Pokój</ng-container> {{order+1}}</span>
        <span class="value">
          {{r.desc.rsl_name}}
          <span class="block">
            <ng-container i18n>{{pick.search.people[order].adults}} {pick.search.people[order].adults, plural, =1 {dorosły} other {dorosłych}}</ng-container><ng-container *ngIf="pick.search.people[order].kids" i18n>,
              {{pick.search.people[order].kids}} {pick.search.people[order].kids, plural, =0 {dzieci} =1 {dziecko} other {dzieci}}({{pick.search.people[order].age.join(', ')}} lat)
            </ng-container>
          </span>
        </span>
        <span class="clear"></span>
      </div>
    </li>
    <li *ngIf="pick.package">
      <div>
        <span class="name" i18n>Pakiet</span>
        <span class="value">{{pick.package.title}}</span>
        <span class="clear"></span>
      </div>
    </li>
    <li>
      <div>
        <span class="name" i18n>Pobyt</span>
        <span class="value">{{configService.formatPrice(allprices.stay_price | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
        <span class="clear"></span>
      </div>
    </li>
    <li>
      <div>
        <span class="name" i18n>Dodatki</span>
        <span class="value">{{configService.formatPrice(allprices.additions_price | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
        <span class="clear"></span>
      </div>
    </li>
    <li class="topay">
      <div class="noline">
        <span class="name" i18n>Zadatek</span>
        <span class="value">{{configService.formatPrice(allprices.installment | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
        <span class="clear"></span>
      </div>
    </li>
    <li class="topay">
      <div>
        <span class="name" i18n>Do zapłaty na miejscu</span>
        <span class="value">{{configService.formatPrice((allprices.r_grand_total - allprices.installment) | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
        <span class="clear"></span>
      </div>
    </li>
    <li class="rabat" *ngIf="configService.config.promotions_enabled">
      <div>
        <span class="name uppercase" i18n>Rabat</span>
        <span class="value"><a class="uppercase" [matMenuTriggerFor]="sum_rabatMenu">+ <ng-container i18n>Kupon rabatowy</ng-container></a></span>
        <span class="clear"></span>
      </div>
    </li>
    <li class="sum">
      <div>
        <span class="name uppercase" i18n>Suma do zapłaty</span>
        <span class="value">{{configService.formatPrice(allprices.r_grand_total | currency:'ABC':'code':'1.0-2')}} {{currency}}</span>
        <span class="clear"></span>
      </div>
    </li>
  </ul>
  <div class="button">
    <button mat-button class="uppercase" (click)="openCalculations()" i18n>Szczegółowa kalkulacja</button>
  </div>
  <mat-menu class="popup-menu-people popup-menu-rabat" #sum_rabatMenu="matMenu">
    <menu-rabat></menu-rabat>
  </mat-menu>
</article>
