<ng-container *ngIf="innerWidth < 800">
  <mat-accordion class="mobile-common-summary">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="head"><mat-icon>shopping_cart</mat-icon><span i18n>Podsumowanie</span></div>
          <div class="wrapup">
            <span class="label uppercase" i18n>suma</span>
            <span class="price" *ngIf="allPrice">{{configService.formatPrice(allPrice.prices.r_grand_total | currency:'ABC':'code':'1.0-2')}} <span>{{allPrice.currency}}</span></span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <summary
        (allPrices)="onAllPrices($event)"
        (showProgress)="onShowProgress($event)">
      </summary>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="discount-common-summary" *ngIf="configService.config.promotions_enabled">
    <a class="uppercase" [matMenuTriggerFor]="sum_comm_rabat">+ <ng-container i18n>Kod rabatowy</ng-container></a>
  </div>
  <mat-menu class="popup-menu-people popup-menu-rabat" #sum_comm_rabat="matMenu">
    <menu-rabat></menu-rabat>
  </mat-menu>
</ng-container>
<ng-container *ngIf="innerWidth >= 800">
  <article class="summary">
    <mat-card>
      <div class="head uppercase"><mat-icon>shopping_cart</mat-icon><span i18n>Podsumowanie rezerwacji</span></div>
      <summary
        (allPrices)="onAllPrices($event)"
        (showProgress)="onShowProgress($event)">
      </summary>
    </mat-card>
  </article>
  <mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>
</ng-container>
