@import 'config';

article.additions {
    section.additions-box {
        width: 58%;
        margin: 0 1% 10px 1%;
        display: inline-block;
        vertical-align: top;
        @media (max-width: $mobile-width) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        mat-card {
            padding: 5px 10px;
            ::ng-deep .mat-tab-label {
                text-transform: uppercase;
            }
            ::ng-deep mat-tab-body {
                overflow-x: inherit;
                overflow-y: inherit;
                .mat-tab-body-content {
                    overflow: inherit;
                }
            }
            .li-addition {
                color: $grey-color;
                border-bottom: 1px solid $border-color;
                padding: 6px 0;
                &.active {
                    color: $menu-light-color;
                }
                .name {
                    float: left;
                    width: 40%;
                    font-size: 0.9em;
                    padding: 0 0 0 5px;
                    div {
                        padding: 1px;
                    }
                }
                .add {
                    float: right;
                    width: 40%;
                    text-align: right;
                    font-size: 0.8em;
                    padding: 4px 6px 0 0;
                    span {
                        vertical-align: middle;
                    }
                    mat-checkbox {
                        margin: 0 0 0 5px;
                        ::ng-deep .mat-checkbox-inner-container {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
                .clear {
                    clear: both;
                }
            }
        }
        .additions-basket {
            color: $menu-light-color;
            text-align: center;
            padding: 20px 0 5px;
            font-size: 0.9em;
            mat-icon {
                font-size: 1.25em;
                vertical-align: middle;
            }
            .label {
                padding: 0 10px;
            }
            span {
                vertical-align: top;
            }
        }
        .buttons {
            text-align: right;
            padding: 20px 0 5px;
            @media (max-width: $mobile-width) {
                padding-right: 15px;
            }
            button {
                margin: 0 0 0 20px;
            }
        }
    }
    section.summary-box {
        width: 38%;
        margin: 0 0 1%;
        display: inline-block;
        vertical-align: top;
        mat-card {
            padding: 5px 10px;
        }
        @media (max-width: $mobile-width) {
            width: 96%;
            margin: 0 2% 1%;
        }
    }
}
