@import 'config';

section.steps {
    padding: 20px 0 20px 20px;
    @media (max-width: $mobile-width) {
        padding: 15px 0 15px 15px;
    }
    .step {
        display: inline-block;
        color: $grey-color;
        width: 170px;
        @media (max-width: $mobile-width) {
            width: auto;
            padding: 0 20px 0 0;
            &:last-child {
                padding: 0;
            }
        }
        .text {
            display: inline-block;
            vertical-align: middle;
            padding: 0 0 0 18px;
            font-size: 0.8em;
            @media (max-width: $mobile-width) {
                padding: 0 0 0 5px;
            }
        }
        .number {
            display: inline-block;
            vertical-align: middle;
            mat-icon {
                font-size: 2.8em;
                @media (max-width: $mobile-width) {
                    font-size: 2.5em;
                }
            }
        }
        &.active {
            mat-icon {
                color: $menu-light-color;
            }
        }
    }
}
