@import 'config';

::ng-deep .cdk-overlay-container {
    font-size: 14px;
    font-family: Arial, Verdana, Tahoma;
    .popup-menu-people {
        padding: 10px 10px;
        .people-title {
            color: $grey-color;
            padding: 2px 0 10px;
            text-align: center;
            display: block;
        }
        .mat-menu-content {
            padding: 0 10px;
        }
        .form-popup {
            padding: 0 6px;
        }
        .people-row-wrapper {
            max-height: 480px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .people-row {
            clear: both;
            color: $bg-color;
            .heading {
                padding: 10px 0 0;
                position: relative;
                .room-title {
                    color: $menu-light-color;
                    font-size: 0.9em;
                }
                .remove-icon {
                    position: absolute;
                    right: 0;
                    width: 12px;
                    height: 12px;
                    mat-icon {
                        font-size: 0.95em;
                        color: red;
                        height: 12px;
                        width: 12px;
                        margin: 2px 2px 0 0;
                        cursor: pointer;
                    }
                }
            }
        }
        .add-next {
            clear: both;
            color: $menu-light-color;
            padding: 15px 0 10px;
            cursor: pointer;
        }
        .save {
            text-align: right;
            padding: 10px 0 0;
            .ok {
                color: $red-color;
            }
            .cancel {
                color: $grey-color;
            }
        }
    }
    .popup-menu-rabat {
        width: 200px;
        .rabat-input {
            padding-top: 8px;
            .mat-input-element {
                color: $bg-color;
            }
        }
    }
    .popup-menu-language {
        width: 200px;
        .lng-row {
            border-bottom: 1px solid $border-color;
            padding: 10px 0;
            cursor: pointer;
            &:last-child {
                border: none;
            }
            div {
                display: inline-block;
                vertical-align: middle;
            }
            .flag {
                @extend .flag;
            }
            .lang-name {
                padding: 0 0 0 7px;
                color: $bg-color;
            }
        }
    }
}

article.widget-app {
    font-size: 14px;
    font-family: Arial, Verdana, Tahoma;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    @media (max-width: $mobile-width) {
        font-size: 13px;
    }
}

main {
    background-color: #fff;
}
