@import 'config';

::ng-deep .calculations-modal {
    width: 70%;
    max-width: 800px !important;
    @media (max-width: $mobile-width) {
        width: 100%;
        max-height: 100%;
        max-width: 100vw !important;
        overflow: scroll;
    }
    mat-dialog-container {
        padding: 0;
        border-radius: 0;
        max-height: 98vh;
    }
}

article.calculations {
    section.head {
        position: relative;
        color: $bg-color;
        line-height: 55px;
        padding: 3px 0 0 0;
        margin: 0 20px;
        border-bottom: 1px solid $border-color;
        @media (max-width: $mobile-width) {
            margin: 0 10px;
        }
        span {
            vertical-align: middle;
            display: inline-block;
            padding: 0 0 0 10px;
        }
        .basket {
            vertical-align: middle;
            font-size: 1.5em;
        }
        .close {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 18px;
        }
    }
    section.room {
        margin: 0 0 20px 0;
        .header {
            padding: 10px 22px;
            @media (max-width: $mobile-width) {
                padding: 8px 10px;
            }
            .name {
                color: $bg-color;
                width: 30%;
                display: inline-block;
            }
            .kind {
                float: right;
                .type {
                    color: $bg-color;
                }
                .persons {
                    color: $grey-color;
                    font-size: 0.9em;
                }
            }
        }
        ul {
            clear: both;
            margin: 0 20px;
            padding: 0 0 0 5px;
            @media (max-width: $mobile-width) {
                margin: 0 10px;
            }
            li {
                list-style: none;
                border-top: 1px solid $border-color;
                color: $grey-color;
                padding: 6px 0;
                margin: 0;
                font-size: 0.9em;
                .price {
                    float: right;
                }
            }
            .additions {
                color: $grey-color;
                font-size: 0.9em;
                margin-left: 15px;
                padding: 5px 0;
                border-top: 1px solid $border-color;
                span.a_price {
                    float: right;
                }
            }
        }
        .summary {
            padding: 8px 20px;
            color: $bg-color;
            background-color: $light-grey-color;
            @media (max-width: $mobile-width) {
                padding: 6px 10px;
            }
            .price {
                float: right;
            }
        }

    }
    section.rabat {
        text-align: right;
        padding: 0 20px 20px 0;
        @media (max-width: $mobile-width) {
            padding: 0 10px 20px 0;
        }
        a {
            color: $menu-light-color;
            font-size: 0.95em;
            text-decoration: none;
            cursor: pointer;
        }
    }
    section.overall {
        background-color: $light-grey-color;
        .price {
            float: right;
            color: $bg-color;
        }
        div.part{
            border-bottom: 1px solid $border-color;
            font-size: 0.9em;
            color: $grey-color;
            padding: 8px 0;
            margin: 0 20px;
            @media (max-width: $mobile-width) {
                margin: 0 10px;
            }
        }
        div.sum {
            color: $bg-color;
            padding: 10px 0;
            margin: 0 20px;
            @media (max-width: $mobile-width) {
                margin: 0 10px;
            }
        }
    }
}
