$bg-color: #006064;
$menu-light-color: #00B8D4;
$grey-color: #999;
$light-grey-color: #fafafa;
$border-color: #eee;
$red-color: #FF3D00;
$mobile-width: 800px;
$orange-color: #FFCC80;

* {
    box-sizing: border-box;
}

.hidden-mobile {
    @media (max-width: $mobile-width) {
        display: none !important;
    }
}

.show-mobile {
    display: none !important;
    @media (max-width: $mobile-width) {
        display: block !important;
    }
}

.uppercase {
    text-transform: uppercase;
}

.menu-bottom-line-shadow {
    box-shadow: 0 6px 4px -2px #ddd;
}

.config-basket {
    float: right;
    vertical-align: middle;
    font-size: 1.2em;
    color: $red-color;
    font-weight: normal;
    @media (max-width: $mobile-width) {
        margin-right: 2%;
    }
    mat-icon {
        vertical-align: middle;
        font-size: 1.25em;
        margin: 0 7px 0 0;
    }
}

.config-price {
    float: left;
    color: $bg-color;
    padding: 6px 0 0 2px;
    @media (max-width: $mobile-width) {
        margin-left: 2%;
    }
    .value {
        font-size: 1.5em;
        padding: 0 5px 0 10px;
    }
    .currency {
        font-size: 1.1em;
    }
    .rabat {
        color: $red-color;
        text-decoration: line-through;
        padding: 0 0 0 15px;
    }
}

.clear {
    clear: both;
    display: block;
}

.flag {
    background-size: auto 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: 50%;
    width: 28px;
    height: 18px;
    border: 1px solid $border-color;
    &.pl {
        background-image: url(../../assets/img/pl.svg)
    }
    &.en {
        background-image: url(../../assets/img/en.svg)
    }
    &.de {
        background-image: url(../../assets/img/de.svg)
    }
    &.ru {
        background-image: url(../../assets/img/ru.svg);
    }
}
