@import 'config';

article.confirmation {
    section.additions-box {
        .head {
            color: $bg-color;
            text-align: center;
            padding: 5px 0;
            mat-icon {
                vertical-align: middle;
                font-size: 1.5em;
            }
            span {
                display: inline-block;
                font-size: 0.9em;
                padding: 0 0 0 10px;
            }
        }
        mat-form-field.asterix {
            ::ng-deep .mat-form-field-label::after {
                content: '*';
                color: $red-color;
                padding: 0 0 0 1px;
            }
        }
        mat-card.card-form {
            box-shadow: none;
        }
        mat-card.payment_method {
            margin: 15px 5px;
            @media (max-width: $mobile-width) {
                margin: 15px 0;
            }
            mat-radio-group {
                display: inline-flex;
                flex-direction: column;
            }
            ::ng-deep .mat-radio-container {
                margin-top: -15px;
            }
            mat-radio-button {
                padding: 20px 0;
                &:first-child {
                    border-bottom: 1px solid $border-color;
                }
                .title {
                    color: $bg-color;
                    font-size: 0.95em;
                }
                .desc {
                    display: block;
                    color: $grey-color;
                    font-size: 0.85em;
                }
            }
        }
        form {
            .choosen-flag {
                display: inline-block;
            }
            mat-form-field {
                display: block;
                &.phone-country {
                    display: inline-block;
                    width: 9%;
                    ::ng-deep .mat-select-value-text {
                        visibility: hidden;
                    }
                    ::ng-deep .mat-form-field {
                        line-height: 1.4em;
                    }
                    ::ng-deep .mat-select {
                        width: 0;
                    }
                }
                &.phone {
                    display: inline-block;
                    width: 90%;
                    ::ng-deep .mat-form-field-infix {
                        line-height: 1.4em;
                    }
                }
            }
        }
        .regulation-accept {
            mat-checkbox {
                color: $grey-color;
                font-size: 0.9em;
                @media (max-width: $mobile-width) {
                    font-size: 1em;
                }
                ::ng-deep .mat-checkbox-layout {
                    padding: 20px 0 0px 25px;
                }
                ::ng-deep .mat-checkbox-inner-container {
                    width: 16px;
                    height: 16px;
                    margin-top: 3px;
                }
                span {
                    color: $menu-light-color;
                    cursor: pointer;
                    &.asterix {
                        color: $red-color;
                        padding: 0 0 0 2px;
                    }
                }
            }
        }
        mat-accordion.accordion-form {
            mat-checkbox {
                font-size: 0.9em;
                ::ng-deep .mat-checkbox-inner-container {
                    width: 16px;
                    height: 16px;
                    margin-top: 3px;
                    .mat-checkbox-background {

                    }
                }
            }
            ::ng-deep .mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
                background-color: $menu-light-color;
            }
            ::ng-deep .mat-checkbox-disabled .mat-checkbox-label {
                color: $grey-color;
            }
            mat-form-field {
                width: 100%;
            }
            ::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
                box-shadow: none;
            }
            .mat-expansion-panel-header {
                padding: 0 10px 0 5px;
            }
            ::ng-deep .mat-expansion-panel-body {
                padding: 0 5px;
            }
        }
    }
}

::ng-deep .cdk-overlay-pane .mat-select-panel {
    .mat-option {
        line-height: 2.5em;
        height: 2em;
        font-size: 0.8em;
    }
}
::ng-deep mat-option {
    span.flag {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 22px;
        height: 15px;
        display: inline-block;
        margin: 0 10px 2px 0;
        vertical-align: middle;
        border: 1px solid #eee;
    }
    span.name {
        vertical-align: middle;
        display: inline-block;
    }
}

mat-accordion.mobile-common-summary {
    ::ng-deep .mat-expansion-panel{
        margin: 5px 2% 20px;
    }
}
