@import 'config';

::ng-deep .room-modal {
    max-height: 98%;
    width: 80%;
    max-width: 800px !important;
    @media (max-width: $mobile-width) {
        width: 100%;
        max-height: 100%;
        max-width: 100vw !important;
        overflow: scroll;
    }
    mat-dialog-container {
        padding: 0;
        border-radius: 0;
    }
}

article.dialog-room-detail {
    position: relative;
    height: 100%;
    section.head {
        position: relative;
        .title {
            line-height: 55px;
            padding: 3px 0 0 20px;
            color: $bg-color;
        }
        mat-icon {
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 18px;
        }
    }
    figure {
        margin: 0;
        width: 100%;
        height: 330px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        transition: height 0.4s ease;
        cursor: pointer;
        &.opened {
            height: 180px;
            transition: height .4s ease;
        }
        nav{
            position: absolute;
            bottom: 0;
            left: 35px;
            line-height: 32px;
            color: #fff;
            @media (max-width: $mobile-width) {
                position: initial;
            }
            .gallery {
                background-color: $bg-color;
                padding: 0 20px;
                display: inline-block;
                cursor: pointer;
            }
            .prev,
            .next {
                background-color: $bg-color;
                padding: 0 5px;
                display: inline-block;
                background-color: $menu-light-color;
                margin-left: -2px;
                cursor: pointer;
                mat-icon {
                    vertical-align: middle;
                }
                @media (max-width: $mobile-width) {
                    position: absolute;
                    background-color: #000;
                    top: 50%;
                    opacity: .3;
                    transform: translate(0, -50%);
                }
            }
            .prev {
                @media (max-width: $mobile-width) {
                    left: 0;
                }
            }
            .next {
                @media (max-width: $mobile-width) {
                    right: 0;
                }
            }
        }
    }
    section.amenities {
        margin: 0 20px;
        line-height: 54px;
        border-bottom: 1px solid $border-color;
        color: $grey-color;
        div {
            padding: 0 10px 0 5px;
            display: inline-block;
        }
        .facility {
            mat-icon {
                vertical-align: text-top;
                font-size: 1.2em;
            }
            padding: 0 20px 0 0;
            span{
                vertical-align: middle;
                padding-right: 2px;
            }
        }
    }
    section.description {
        margin: 0 20px;
        padding: 15px 0;
        color: $grey-color;
        max-height: 100px;
        overflow-y: hidden;
        background: linear-gradient($grey-color 40%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: max-height 0.5s ease;
        &.opened {
            transition: max-height 0.8s ease;
            overflow-y: visible;
            max-height: 500px;
            -webkit-text-fill-color: initial;
        }
        ::ng-deep ul {
            padding: 0 0 0 15px;
            margin: 5px 0 5px 0;
            ::ng-deep li {
                padding: 2px 0 2px;
                list-style-type: none;
                text-transform: capitalize;
                sup {
                    font-size: .6em;
                }
            }
            li::before {
              content: "■";
              color: $menu-light-color;
              padding-right: 10px;
              line-height: 1.3em;
              font-size: 0.9em;
              vertical-align: top;
            }
        }
        ::ng-deep a {
            color: $menu-light-color;
            text-decoration: none;
            outline: none;
            &:hover {
                color: $bg-color;
            }
        }
    }
    section.read-more {
        position: relative;
        height: 25px;
        div {
            text-align: center;
            color: $grey-color;
            cursor: pointer;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            mat-icon {
                font-size: 1.3em;
                vertical-align: middle;
                height: 18px;
                width: 18px;
            }
        }

    }
    section.footer {
        width: 100%;
        @media (max-width: $mobile-width) {
            font-size: 0.85em;
        }
        .footer-wrapper {
            margin: 0 20px;
            border-top: 1px solid $border-color;
            padding: 10px 0;
            .price {
                @extend .config-price;
            }
            .basket {
                @extend .config-basket;
            }
        }
        .error-message {
            text-align: center;
            color: $red-color;
            display: block;
            padding: 4px 0;
            mat-icon {
                font-size: 1.5em;
                vertical-align: middle;
            }
            span {
                font-size: .9em;
                padding: 0 0 0 8px;
            }
        }
    }
}

::ng-deep .photo-modal {
    width: 95% !important;
    max-width: 1200px !important;
    height: 90% !important;
    mat-dialog-container {
        padding: 0;
        border-radius: 0;
    }
}

article.dialog-photo {
    height: 100%;
    figure {
        margin: 0;
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        mat-icon {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
}

::ng-deep .regulations-modal {
    width: 90%;
    height: 98%;
    max-width: 800px !important;
    @media (max-width: $mobile-width) {
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100vw !important;
        overflow: scroll;
    }
    mat-dialog-container {
        padding: 0;
        border-radius: 0;
    }
    ol, ul {
        margin: 0;
        padding: 0 0 0 20px;
    }
    li {
        padding: 5px 0;
    }
    p {
        margin: 0;
        padding: 0;
        strong {
            margin-top: 20px;
            display: inline-block;
        }
    }
}

article.dialog-regulations {
    section.head {
        background-color: #fff;
        z-index: 999;
        border-bottom: 1px solid $border-color;
        line-height: 50px;
        position: static;
        @media (max-width: $mobile-width) {
            position: fixed;
            margin: 0 2% 0px 2%;
            width: 96%;
        }
        .title {
            font-size: 1.1em;
        }
        mat-icon {
            @media (max-width: $mobile-width) {
                right: 5px;
            }
        }
    }
    section.content {
        color: $grey-color;
        margin: 0 20px 20px;
        padding-top: 20px;
        font-size: 0.9em;
        @media (max-width: $mobile-width) {
            padding-top: 60px;
        }
    }
}
