@import 'config';

article.error {
    section.no-rooms {
        padding: 70px 0;
        text-align: center;
        .message {
            color: $red-color;
            font-size: 1.2em;
        }
        .info {
            color: $grey-color;
            padding: 20px 0;
        }
        .info-bottom {
            color: $grey-color;
            padding: 10px 0;
        }
    }
    section.standard {
        .message {
            text-align: center;
            padding: 70px 0;
            font-size: 1.2em;
            color: $red-color;
        }
    }
}
