@import 'config';

article.group-rooms {
    text-align: center;
    position: relative;
    .head {
        color: $bg-color;
        text-align: center;
        padding: 15px 0 4px;
        mat-icon {
            vertical-align: middle;
            font-size: 1.5em;
        }
        span {
            display: inline-block;
            padding: 0 0 0 10px;
        }
    }
    .sub-title {
        font-size: .9em;
        color: $grey-color;
        margin-bottom: 10px;
    }
}
mat-card.next {
    background-color: $orange-color;
    padding: 0 20px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    color: $red-color;
    position: fixed;
    z-index: 444;
    top: 20px;
    right: 40px;
    mat-icon {
        font-size: 1.2em;
        vertical-align: middle;
        padding-left: 20px;
        top: 3px;
        position: relative;
        cursor: pointer;
    }
}
mat-card.room {
    display: inline-block;
    margin: 1%;
    width: 31%;
    height: 200px;
    padding: 0;
    vertical-align: top;
    position: relative;
    cursor: pointer;

    &.active {
        border: 2px solid $menu-light-color;
    }

    figure {
        height: 71%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        margin: 0;
        display: inline-block;
        .price {
            position: absolute;
            background-color: $bg-color;
            color: #fff;
            padding: 5px 15px;
            right: -5px;
            top: 5px;
            .value {
                font-size: 1.1em;
            }
            .currency {
                font-size: .8em;
                padding: 0 0 0 5px;
            }

        }
        @media (max-width: $mobile-width) {
        }
    }

    .choose {
        color: $red-color;
        font-weight: bold;
        font-size: 0.95em;
        padding-top: 27%;
    }

    .description {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 29%;
        background-color: $light-grey-color;
        .title {
            color: $bg-color;
            position: absolute;
            bottom: 30px;
            width: 100%;
        }
        .type {
            font-size: 0.9em;
            color: $grey-color;
            position: absolute;
            bottom: 9px;
            width: 100%;
        }
    }
}
section.compleated {
    padding: 10px 0;
    .message {
        color: $red-color;
        text-align: center;
        padding: 20px;
    }
    .button {
        text-align: right;
        padding-right: 11px;
    }
}
