@import 'config';

.menu-line {
    @extend .menu-bottom-line-shadow;
    height: 8px;
    margin-top: -10px;
}

article.home {
    padding: 50px 0;
    text-align: center;
    .slogan {
        width: 33%;
        display: inline-block;
        vertical-align: top;
        font-size: 1em;
        padding: 10px 0 20px;
        color: $grey-color;
        @media (max-width: $mobile-width) {
            display: block;
            text-align: left;
            width: 96%;
            margin: 0 3%;
            border-bottom: 1px solid $border-color;
            padding: 15px 5px;
            font-size: 1.1em;
        }
        &:last-child {
            border: none;
        }
        span {
            text-align: left;
            display: inline-block;
            width: 70%;
            vertical-align: middle;
        }
        mat-icon {
            vertical-align: middle;
            display: inline-block;
            min-height: 25px;
            width: 15%;
            @media (max-width: $mobile-width) {
                width: 40px;
                font-size: 1.9em;
            }
        }
    }
}
