@import 'config';

@mixin center-vertical() {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    @media (max-width: $mobile-width) {
        position: inherit;
        transform: none;
    }
}

.input-nav {
    color: $bg-color;
    font-size: 1em;
    display: block;
    border: none;
    width: 100%;
    cursor: pointer;
}

nav.main-nav {
    .top {
        background-color: $bg-color;
        color: #fff;
        position: relative;
        height: 70px;
        .left {
            @include center-vertical;
            left: 10px;
            cursor: pointer;
            @media (max-width: $mobile-width) {
                position: absolute;
                top: 50%;
                transform: translate(0%, -50%);
                left: 10px;
            }
            .object-name {
                padding: 0 0 7px;
            }
            .on-line {
                font-size: 0.95em;
            }
        }
        .right {
            @include center-vertical;
            right: 20px;
            .rabat {
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;
            }
            .language {
                display: inline-block;
                padding: 0 20px;
                vertical-align: middle;
                cursor: pointer;
                .flag {
                    width: 25px;
                    height: 20px;
                    background-size: 100% 100%;
                    border: none;
                    span {
                        padding: 0 0 0 30px;
                        mat-icon {
                            font-size: 1.5em
                        }
                    }
                }
            }
        }
        .right-menu-mobile {
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            right: 10px;
            .mat-button {
                font-weight: normal;
            }
        }
    }
    .bottom {
        position: relative;
        height: 60px;
        background-color: $light-grey-color;
        @media (max-width: $mobile-width) {
            height: auto;
        }
        ::ng-deep .mat-form-field-infix {
            width: 185px;
        }
        .left {
            @include center-vertical;
            .arrive {
                display: inline-block;
                padding: 26px 0px 0 20px;
                vertical-align: middle;
                @media (max-width: $mobile-width) {
                    padding: 20px 0 0 20px;
                    width: 160px;
                    overflow: hidden;
                }
                label {
                    color: $grey-color;
                    font-size: 0.95em;
                }
                input {
                    @extend .input-nav;
                }
            }
            .leave {
                display: inline-block;
                padding: 26px 0px 0 20px;
                vertical-align: middle;
                @media (max-width: $mobile-width) {
                    padding: 20px 0 0 20px;
                    width: 160px;
                    overflow: hidden;
                }
                label {
                    color: $grey-color;
                    font-size: 0.95em;
                }
                input {
                    @extend .input-nav;
                }
            }
            .period {
                display: inline-block;
                padding: 7px 40px 0 10px;
                color: $grey-color;
                vertical-align: middle;
                @media (max-width: $mobile-width) {
                    padding: 7px 50px 0 18px;
                }
            }
            .people {
                display: inline-block;
                padding: 7px 10px 0;
                color: $bg-color;
                vertical-align: middle;
                cursor: pointer;
            }
            .break-line-mobile {
                border-bottom: 1px solid $border-color;
                height: 1px;
                margin: 0 10px 20px;
                &.bottom-line {
                    margin-top: 18px;
                }
            }
        }
        .right {
            @include center-vertical;
            right: 20px;
            background-color: $light-grey-color;
            @media (max-width: $mobile-width) {
                padding: 5px 10px 25px 0;
                text-align: right;
            }
            .check {
                color: $red-color;
            }
        }
        mat-icon {
            vertical-align: middle;
            padding-right: 10px;
            min-height: 29px;
        }
        ::ng-deep .mat-input-underline {
            background-color: transparent;
        }
    }
    ::ng-deep .mat-tab-header {
        box-shadow: 0 6px 4px -2px #ddd;
    }
}

$menu-width: 270px;
$menu-lang-width: 200px;

@keyframes side-mobile-animation {
    0%   { width: 0; }
    100% { width: $menu-width; }
}

@keyframes side-mobile-lang-animation {
    0%   { width: 0; }
    100% { width: $menu-lang-width; }
}

section#overlay-mobile {
    position: absolute;
    top: 70px;
    width: 100%;
    bottom: 0;
    right: 0;
    background: #444;
    opacity: 0.4;
    z-index: 9999001;
}

section.side-mobile {
    position: absolute;
    top: 70px;
    bottom: 0;
    background: #fff;
    width: $menu-width;
    right: 0;
    z-index: 9999002;
    animation-name: side-mobile-animation;
    animation-duration: 0.8s;
    box-shadow: 0px 1px 4px 0px #909090;
    &.show-mobile-lang {
        z-index: 9999000;
    }
    .tab {
        color: $bg-color;
        padding: 25px 0;
        margin: 0 20px;
        border-bottom: 1px solid $border-color;
        font-size: 1.25em;
        white-space: nowrap;
        cursor: hover;
        &:last-child {
            border: none;
        }
    }
    mat-icon.close {
        position: absolute;
        font-size: 2.3em;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        color: $bg-color;
    }
}

section.side-mobile-lang {
    width: $menu-lang-width;
    animation-name: side-mobile-lang-animation;
    right: 0;
    z-index: 9999003;
    .lng-row {
        padding: 25px 0;
        margin: 0 10px;
        border-bottom: 1px solid $border-color;
        white-space: nowrap;
        cursor: hover;
        &:last-child {
            border: none;
        }
        .flag {
            display: inline-block;
            vertical-align: middle;
        }
        .lang-name {
            display: inline-block;
            vertical-align: middle;
            color: $bg-color;
            font-size: 1.2em;
            padding: 2px 0 0 8px;
        }
    }
}
