@import 'config';

.row-adults-kids {
    border-bottom: 1px solid $border-color;
    .adults-wrapper {
        width: 49%;
        display: inline-block;
    }
    .kids-wrapper {
        width: 49%;
        display: inline-block;
        text-align: right;
    }
    .adults {
        width: 30%;
        display: inline-block;
    }
    .kids {
        display: inline-block;
        width: 30%;
        text-align: right;
    }
    .field-name {
        display: inline-block;
        padding: 0 10px 0 0;
    }
    mat-select {
        display: inline-block;
        width: 34px;
        ::ng-deep .mat-select-trigger {
            text-align: left;
        }
        ::ng-deep .mat-select-value {
            color: $bg-color;
        }
        ::ng-deep .mat-select-arrow {
            color: $bg-color;
        }
    }
    ::ng-deep .mat-form-field-infix {
        border-top-width: 0.1em;
    }
    ::ng-deep .mat-form-field-underline {
        background-color: transparent;
        .mat-form-field-ripple {
            height: 0;
        }
    }
    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: .25em;
    }
    .clear {
        clear: both;
    }
}
.kids-amount-wrapper {
    .age {
        width: 25%;
        text-align: center;
    }
    .field-name {
        padding: 0 12px 0 0;
        display: block;
    }
}
