@import 'config';
@import 'room';

mat-card.package {
    @extend mat-card.room;
    mat-card-content {
        .facility {
            padding: 0 20px 0 0;
            span {
                vertical-align: middle;
                padding-right: 2px;
            }
        }
    }
    mat-card-footer {
        ::ng-deep mat-spinner {
            display: inline-block;
            margin: 0 0 0 10px;
        }
        .error-message {
            text-align: center;
            color: $red-color;
            display: block;
            padding: 4px 0;
            mat-icon {
                font-size: 1.5em;
                vertical-align: middle;
            }
            span {
                font-size: .9em;
                padding: 0 0 0 8px;
            }
        }
    }
}
