@import 'config';

article.payments {
    text-align: center;
    padding: 5px 15px;
    .thanks {
        padding: 15px 0 15px;
        color: $bg-color;
        @media (max-width: $mobile-width) {
            font-size: 1.3em;
        }
    }
    .inadvance {
        color: $red-color;
        @media (max-width: $mobile-width) {
            font-size: 1.1em;
        }
    }
    .choose-bank {
        color: $bg-color;
        margin: 45px 0 25px;
        font-size: 0.9em;
        @media (max-width: $mobile-width) {
            font-size: 1em;
        }
        mat-icon {
            font-size: 1.5em;
            vertical-align: middle;
        }
        span {
            vertical-align: middle;
            display: inline-block;
            padding: 0 0 0 15px;
            @media (max-width: $mobile-width) {
                font-size: 1.1em;
            }
        }
    }
    section.banks {
        div {
            width: 110px;
            height: 60px;
            display: inline-block;
            vertical-align: top;
            border: 1px solid $border-color;
            cursor: pointer;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 50%;
            margin: 4px;
            &.active {
                border: 4px solid $menu-light-color;
            }
        }
    }
    section.button {
        padding: 20px 0 0 0;
    }
    section.transfer-data {
        width: 40%;
        min-width: 400px;
        margin: 0 auto 50px;
        padding: 15px 30px;
        background-color: $light-grey-color;
        border: 1px solid $border-color;
        color: $bg-color;
        text-align: left;
        @media (max-width: $mobile-width) {
            width: 100%;
            min-width: 100%;
            margin-bottom: 100px;
            padding: 5px 10px;
        }
        div {
            padding: 4px 0;
        }
    }
    .security {
        text-align: center;
        .title {
            color: $bg-color;
            margin: 50px 0 2px;
            font-size: 0.9em;
        }
        .logos {
            a {
                display: inline-block;
                vertical-align: middle;
                width: 90px;
                height: 60px;
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: 50%;
                &.dotpay {
                    background-image: url(/assets/img/banks/dotpay.jpg);
                    margin-right: 20px;
                    width: 100px;
                }
                &.ssl {
                    background-image: url(/assets/img/banks/ssl.jpg);
                    margin-left: 20px;
                }
            }
        }
    }
    &.payments-bank {
        .left-side {
            width: 60%;
            display: inline-block;
            @media (max-width: $mobile-width) {
                width: 100%;
            }
        }
        .security {
            width: 39%;
            float: right;
            @media (max-width: $mobile-width) {
                float: none;
                width: auto;
            }
            .title {
                margin-top: 0;
            }
        }
        .choose-bank {
            margin: 25px 0;
        }
        .bank {
            border: 4px solid $menu-light-color;
            .bank-logo {
                width: 100%;
                line-height: 70px;
                background-size: 110px auto;
                background-repeat: no-repeat;
                background-position: 10px 50%;
                padding-left: 130px;
                text-align: left;
                span {
                    font-size: 0.9em;
                    color: $bg-color;
                    cursor: pointer;
                    @media (max-width: $mobile-width) {
                        font-size: 1.2em;
                    }
                }
            }
        }
        mat-radio-group {
            margin: 10px 0;
            display: block;
            .mat-radio-button {
                display: block;
                text-align: left;
                margin: 25px 0 0;
                span {
                    color: $bg-color;
                    font-size: 1.1em;
                }
            }
        }
        .button-pay {
            text-align: right;
            width: 100%;
            padding: 10px 0 50px;
            @media (max-width: $mobile-width) {
                text-align: center;
                padding: 25px 0 70px;
            }
        }
    }
}
