@import 'config';

mat-card.room {
    margin: 15px;
    padding: 0;
    height: 225px;
    position: relative;
    @media (max-width: $mobile-width) {
        height: 350px;
    }
    figure {
        height: 100%;
        width: 33%;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        margin: 0;
        display: inline-block;
        cursor: pointer;
        @media (max-width: $mobile-width) {
            width: 100%;
            height: 50%;
        }
    }
    .description {
        display: inline-block;
        vertical-align: top;
        width: 66%;
        padding: 0 0 0 2%;
        @media (max-width: $mobile-width) {
            width: 100%;
            margin: auto;
            text-align: center;
            padding: 0;
        }
    }
    mat-card-title {
        color: $bg-color;
        font-size: 1.3em;
        margin : 10px 0 15px;
    }
    mat-card-content {
        width: 80%;
        @media (max-width: $mobile-width) {
            width: auto;
        }
        div {
            display: inline-block;
            padding: 5px 10px 0 0;
            color: $grey-color;
            font-size: 0.9em;
            mat-icon {
                vertical-align: text-top;
                font-size: 1.4em;
            }
        }
    }
    mat-card-footer {
        padding: 10px 0 7px;
        margin: 0;
        bottom: 0;
        width: 63%;
        position: absolute;
        @media (max-width: $mobile-width) {
            width: 100%;
            font-size: 0.9em;
        }
        .price {
            @extend .config-price;
        }
        .basket {
            @extend .config-basket;
        }
        .line {
            border-bottom: 1px solid $border-color;
            margin-bottom: 8px;
            .see-more {
                color: $menu-light-color;
                font-weight: normal;
                margin: 0 0 10px;
                cursor: pointer;
                display: inline-block;
            }
        }
    }
    .last-room {
        color: $menu-light-color;
        position: absolute;
        right: 20px;
        top: 50px;
    }
}
