@import 'config';

article.search-rooms {
    position: relative;
    ::ng-deep .mat-tab-label {
        text-transform: uppercase;
    }
    section.filters {
        text-align: center;
        padding: 25px 0 5px;
        .title {
            color: $bg-color;
            mat-icon {
                vertical-align: middle;
                padding: 0 35px 0 0;
                height: 28px;
            }
        }
        .kinds {
            padding: 10px 0 5px;
            mat-checkbox {
                padding: 0 20px 0 0;
            }
        }
    }
    .last-reservation {
        position: absolute;
        top: 15px;
        left: 20px;
        text-align: center;
        color: $bg-color;
        padding: 7px 15px;
        margin: 5px 15px;
        @media (max-width: $mobile-width) {
            bottom: inherit;
            left: inherit;
            top: inherit;
            position: inherit;
            margin-bottom: 15px;
        }
    }
}

::ng-deep .mat-tab-header {
    @extend .menu-bottom-line-shadow;
}

.choosen-package {
    border: 1px solid $border-color;
    background-color: $light-grey-color;
    padding: 5px;
    margin: 15px;
    position: relative;
    figure {
        width: 75px;
        height: 75px;
        background-size: cover;
        display: inline-block;
        vertical-align: top;
        margin: 0 20px 0 0;
    }
    .c-pacage-desc {
        display: inline-block;
        vertical-align: top;
        width: 80%;
        .c-pacage-name {
            color: $bg-color;
            font-size: 1.2em;
        }
        .c-pacage-facilities {
            padding: 9px 0 12px;
        }
        .c-pacage-see {
            color: $menu-light-color;
            font-size: 0.9em;
            cursor: pointer;
        }
        .facility {
            display: inline-block;
            color: $grey-color;
            padding: 0 15px 0 0;
            span {
                vertical-align: middle;
                padding-right: 2px;
                display: inline-block;
                font-size: .9em;
            }
            mat-icon {
                font-size: 1.1em;
                vertical-align: middle;
                width: 22px;
                height: 16px;
            }
        }
    }
    mat-icon.close-package {
        position: absolute;
        right: -5px;
        top: 5px;
        font-size: 1em;
        color: $red-color;
        cursor: pointer;
    }
}
