@import 'config';

.head-base {
    color: $bg-color;
    text-align: center;
    border-bottom: 1px solid $bg-color;
    padding: 5px 0 10px 0;
    margin: 0 10px;
    span {
        font-size: 0.9em;
        vertical-align: middle;
    }
    mat-icon {
        vertical-align: middle;
        font-size: 1.3em;
        margin-right: 8px;
        height: auto;
    }
}

article.summary {
    mat-card {
        padding: 8px 0;
    }
    .head {
        @extend .head-base;
    }
    ul {
        margin: 10px 0;
        padding: 0;
        li {
            padding: 0;
            color: $grey-color;
            font-size: 0.9em;
            margin: 0 10px;
            list-style-type: none;
            div {
                border-top: 1px solid $border-color;
                clear: both;
                padding: 6px 4px;
                &.noline {
                    border-top: none;
                }
            }
            span.name {
                float: left;
            }
            span.value {
                float: right;
                color: $bg-color;
                text-align: right;
                span {
                    color: $grey-color;
                }
                .block {
                    display: block;
                    text-align: right;
                }
            }
            &.topay {
                background-color: $light-grey-color;
                margin: 0;
                div {
                    margin: 0 10px;
                }
            }
            &.rabat,
            &.sum {
                background-color: $light-grey-color;
                color: $bg-color;
                margin: 0;
                div {
                    margin: 0 10px;
                    padding: 10px 4px;
                }
            }
            &.rabat {
                a {
                    color: $menu-light-color;
                    font-size: 0.95em;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
    .button {
        text-align: center;
        button {
            color: $menu-light-color;
            font-weight: normal;
        }
    }
}

mat-accordion.mobile-common-summary {
    .head {
        @extend .head-base;
        text-align: left;
        border-bottom: none;
        padding: 0;
        margin: 0;
        float: left;
    }
    .wrapup {
        float: right;
        color: $bg-color;
        .label {
            font-size: 0.7em;
            padding: 0 10px 0 0;
        }
        .price {
            span {
                font-size: 0.8em;
            }
        }
    }
    .mat-expansion-panel-header-title {
        display: block;
    }
    .mat-expansion-panel-header {
        padding: 0 10px;
        ::ng-deep .mat-expansion-indicator {
            height: 22px;
        }
    }
    ::ng-deep .mat-expansion-panel-body {
        padding: 0 0 5px;
    }
}

.discount-common-summary {
    text-align: right;
    font-size: 1.2em;
    color: $menu-light-color;
    padding: 25px 5px 15px;
    cursor: pointer;
}
